.recipes-wrapper {
  margin-top: 20px;
  display: flex;
  gap: 20px;

  @media (max-width: 599px) {
    flex-direction: column;
   }
}

.recipes-list-wrapper {
  width: 50%;

  @media (max-width: 599px) {
     width: 100%;
   }
}

.divider {
  margin: 6px;
  background-color: #777777;
}
